/* Grayscale Design palette: https://grayscale.design/app?lums=93.88,87.19,75.61,61.14,42.57,28.39,18.04,11.21,6.97,4.72,1.63&palettes=%231C2428,%23F59653,%2353B4F5&filters=0%7C0,0%7C0,0%7C0&names=surface,accent,primary&labels=,, */
:root {
  --grayscale-50: #f8f8f8;
  --grayscale-100: #f0f0f0;
  --grayscale-200: #e1e1e1;
  --grayscale-300: #cdcdcd;
  --grayscale-400: #aeaeae;
  --grayscale-500: #919191;
  --grayscale-600: #767676;
  --grayscale-700: #5e5e5e;
  --grayscale-800: #4b4b4b;
  --grayscale-900: #3d3d3d;
  --grayscale-950: #222222;

  --surface-50: #f7f8f9;
  --surface-100: #edf1f2;
  --surface-200: #dbe3e6;
  --surface-300: #c4cfd5;
  --surface-400: #9eb2bb;
  --surface-500: #7b95a3;
  --surface-600: #5f7a87;
  --surface-700: #4c616c;
  --surface-800: #3c4d56;
  --surface-900: #314047;
  --surface-950: #1c2427;

  --accent-50: #fef7f1;
  --accent-100: #fdede2;
  --accent-200: #fcdbc5;
  --accent-300: #f9c29b;
  --accent-400: #f59856;
  --accent-500: #ec6b0e;
  --accent-600: #c0570b;
  --accent-700: #9a4609;
  --accent-800: #7b3707;
  --accent-900: #652e06;
  --accent-950: #391a03;

  --primary-50: #f2f9fe;
  --primary-100: #e2f3fd;
  --primary-200: #c6e6fc;
  --primary-300: #9dd4f9;
  --primary-400: #59b7f5;
  --primary-500: #0f96f1;
  --primary-600: #0b7ac5;
  --primary-700: #09629c;
  --primary-800: #074e7d;
  --primary-900: #064067;
  --primary-950: #03253b;  
}
